language: python
python:
  - "3.7.0"
install:
  - cp contrib/env-sample .env
  - pip install -q -r requirements.txt
  - pip install coveralls

script:
  - coverage run --source=patic manage.py test

after_success:
  - coveralls