<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Importar PA</title>
    <style type="text/css">

        .button {
          background-color: #008CBA;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }

    </style>
</head>
<body>
    <h3>Selecione uma Planilha de Ações para importar</h3>
    <div>
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                {{ form.planilha_de_acao.errors }}
                {{ form.planilha_de_acao }}
            </div>
            <div>
                {{ form.ano.errors }}
                {{ form.ano.label_tag }}
                {{ form.ano }}
            </div>
            <div>
                {{ form.orgao.errors }}
                {{ form.orgao.label_tag }}
                {{ form.orgao }}
            </div>
            <p><input class="button" type="submit" name='btn_upload', value="Importar PA"/></p>
        </form>
    </div>
</body>
</html>