<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Importar PA</title>
</head>
<body>
    <h3>Selecione uma Planilha de Ações para importar</h3>
    <div>
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                {{ form.planilha_de_acao.errors }}
                {{ form.planilha_de_acao }}
            </div>
            <div>
                {{ form.ano.errors }}
                {{ form.ano.label_tag }}
                {{ form.ano }}
            </div>
            <div>
                {{ form.orgao.errors }}
                {{ form.orgao.label_tag }}
                {{ form.orgao }}
            </div>
            <p><input class="button" type="submit" name='btn_upload', value="Importar PA"/></p>
        </form>
    </div>
</body>
</html>