<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Relatório de Ações</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
          padding: 15px;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td><h1>Plano de Aquisição 2020</h1></td>
            <td><h1>ÓRGÃO</h1></td>
        </tr>
        <tr>
            <td colspan="2">Nome da ação:<br>
                <p>Desenvolvimento de sistema de gestão estratégica de TIC</p></td>
        </tr>
        <tr>
            <td colspan="2">Justificativa:<br>
                <p>reegergre gregwergregregregergregregregregregre gregreg regreg regregreg reg regregreg regerg
                ergregreg reg regreg regregre gregregre gre grgregreg ergergre gregreg erger gregregre gregreg
                regregergre greg regregre gregre gregregreg reg re</p></td>
        </tr>
        <tr>
            <td>Especificação do item:
                <p>Desenvolvimento de software</p></td>
            <td>Objeto de aquisição:
                <p>Serviço não comum</p></td>
        </tr>
        <tr>
            <td>Contrato novo</td>
            <td>Duração do contrato: 24 meses</td>
        </tr>
        <tr>
            <td>Quantidade: 1</td>
            <td>Valor estimado: R$ 420.000,00</td>
        </tr>
    </table>
</body>
</html>